/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font-family: serif;
	margin: 0; 
	padding: 0;
	}
a {
	color: #EB5779
}

a:hover, a:active {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}

h1 {
	color: #4D9C98; 
  	font-family: 'Lobster', cursive;
}
