/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font-family: serif;
	margin: 0; 
	padding: 0;
	}
a {
	color: #EB5779;
	text-decoration: none;

}

a:hover, a:focus, a:active {
    	text-decoration: underline;
}

h1 {
	color: #4D9C98; 
  	font-family: 'Lobster', cursive;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
